*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: black; */
}
/* start NavBar */
.TopNav{
    display: flex;
    position: sticky;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right ,#1d1d1d,black);
    background-color: white;
    padding: 8px 13px 0px 13px;
}
.address{
    padding: 0 0 0 180px;
}
.logo{
    color:aquamarine;
    font-size: 40px;
    
} 
.text1{
    color: white;
    font-size: 8px;
    padding: 0 0 0 25px;
}
.Links{
    padding: 18px 200px 0 0;
}
.Links a{
    margin: 10px;
    color: white;
    text-decoration: none;
    /* padding: 18px 30px 0px 13px; */
    /* justify-content: center; */
}
.Links .search{
    color: aquamarine;
}
/* start section one */
.body1{
    width: 100%;
    height: 600px;
    background-image:linear-gradient(to right,black,rgb(7, 45, 45));
    position: relative;
}
.text2{
    color: white;
    position: absolute;
    top: 110px;
    left: 195px;
}
.text2 span{
    color: aquamarine;
    font-size: 15px;
}
.text2 h1{
    font-size: 50px;
}
.text21{
    position: absolute;
    color:aquamarine;
    left: 210px;
    top: 20px;
}
.line{
    font-weight: bold;
    color: aquamarine;
}
.para{
    color: grey;
}
.pause{
    font-size: 60px;
    color: aquamarine;
    /* background-color: aquamarine; */
}
.ABOUT{
    position: absolute;
    left: 90px;
    top: 290px;
    font-size:15px;
    font-weight: bold;
}
.line1{
    position: absolute;
    left: 90px;
    top: 305px;
    color: rgb(62, 62, 62);
    font-weight: bold;
}
.text22{
    color: rgba(127, 255, 212, 0.616);
    position: absolute;
    font-size:14px;
    left: 80px;
    top: 348px;
}
.img1{
    width: 600px;
    opacity: 0.8;
    height: 710px;
    position: absolute;
    left: 480px;
    top: -220px;
    background-size:cover;
}
/* start section two */
.body2{
    width: 100%;
    height: 550px;
    background-color: black;
    position: relative;
}
.body2 nobr{
    position: absolute;
    color: aquamarine;
    left: 200px;
    top:100px;
    font-size: 13px;
}
.body2t1{
    position: absolute;
    left: 200px;
    top: 139px;
    color: white;
    font-size: 42px;
    font-weight: bold;
}
.body2t2{
    position: absolute;
    left: 390px;
    top: 139px;
    color:aquamarine;
    font-size: 42px;
    font-weight: bold;
}
.body2t3{
    position: absolute;
    left: 450px;
    top: 139px;
    color:white;
    font-size: 42px;
    font-weight: bold;
    border-radius: 50%;
}
.body2t4{
    position: absolute;
    left: 200px;
    top: 185px;
    color:aquamarine;
    
}
.body2t5{
    position: absolute;
    left: 200px;
    top: 245px;
    color: grey
}
.body2btn1{
    position: absolute;
    left: 200px;
    top: 380px;
    width: 100px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: aquamarine;
    font-weight: bold;
}
.body2div1{
    position: absolute;
    left: 675px;
    top: 60px;
    color:white;
    background-color: rgb(20, 20, 20);
    width: 250px;
    height: 180px;
}
.div1img1{
    position: absolute;
    left: 90px;
    top: 10px;
}
.body2t6{
    position: absolute;
    left: 65px;
    top: 70px;
    font-size: large;   
}
.body2t7{
    position: absolute;
    left: 35px;
    top: 100px;
    color: grey;
    font-size: small;
}
.body2div2{
    position: absolute;
    left: 950px;
    top: 90px;
    color:white;
    background-image:linear-gradient(black,rgb(7, 45, 45));
    width: 250px;
    height: 180px;
}
.div2img1{
    position: absolute;
    left: 90px;
    top: 10px;
}
.body2t8{
    position: absolute;
    left: 65px;
    top: 70px;
    font-size: large;   
}
.body2t9{
    position: absolute;
    left: 35px;
    top: 100px;
    color: grey;
    font-size: small;
}
.body2div3{
    position: absolute;
    left: 675px;
    top: 270px;
    color:white;
    background-image:linear-gradient(black,rgb(7, 45, 45));
    width: 250px;
    height: 180px;
}
.div3img1{
    position: absolute;
    left: 90px;
    top: 10px;
}
.body2t10{
    position: absolute;
    left: 65px;
    top: 70px;
    font-size: large;   
}
.body2t11{
    position: absolute;
    left: 35px;
    top: 100px;
    color: grey;
    font-size: small;
}
.body2div4{
    position: absolute;
    left: 950px;
    top: 290px;
    color:white;
    background-color: rgb(20, 20, 20);
    width: 250px;
    height: 180px;
}
.div4img1{
    position: absolute;
    left: 90px;
    top: 10px;
}
.body2t12{
    position: absolute;
    left: 65px;
    top: 70px;
    font-size: large;   
}
.body2t13{
    position: absolute;
    left: 35px;
    top: 100px;
    color: grey;
    font-size: small;
}
/* start section three */
.body3{
        width: 100%;
        height: 550px;
        background-color: rgb(20, 20, 20);
        position: relative;
}
.body3img1{
    position: absolute;
    width: 350px;
    height: 460px;
    left: 150px;
    top: 90px;
}
.body3 nobr{
    position: absolute;
    color: aquamarine;
    left: 650px;
    top: 100px;
    font-size: 15px;
}
.body3t1{
    position: absolute;
    left: 650px;
    top: 130px;
    color: white;
    font-size: 45px;
}
.body3t2{
    position: absolute;
    left: 825px;
    top: 130px;
    color: aquamarine;
    font-size: 45px;
}
.body3t3{
    position: absolute;
    left: 1045px;
    top: 130px;
    color:white;
    font-size: 45px;
}
.body3t4{
    position: absolute;
    left: 650px;
    top: 180px;
    color:white;
    font-size: 45px;
}
.body3t5{
    position: absolute;
    left: 655px;
    top: 225px;
    color:aquamarine;
    font-size: 20px;
}
.body3 p{
    position: absolute;
    left: 650px;
    top: 280px;
    color:grey;
    font-size: 15px;
}
.body3img2{
    position: absolute;
    left: 650px;
    top: 360px;
}
.body3t7{
    position: absolute;
    left: 725px;
    top: 365px;
    color:white;
    font-size: 22px;
}
.body3t8{
    position: absolute;
    left: 725px;
    top: 400px;
    color:grey;
    font-size: 15px;
    font-weight: 30px;
}
.body3img3{
    position: absolute;
    left: 975px;
    top: 360px;
}
.body3t9{
    position: absolute;
    left: 1050px;
    top: 365px;
    color:white;
    font-size: 22px;
}
.body3t10{
    position: absolute;
    left: 1050px;
    top: 400px;
    color:grey;
    font-size: 15px;
    font-weight: 30px;
}
/* start section four */
.body4{
    position: relative;
    width: 100%;
    height: 275px;
    background-image: linear-gradient(to right,rgb(23, 49, 40),rgb(50, 46, 46));
    z-index: 2;
}
.body4img1{
    position: absolute;
    width: 100%;
    height: 275px;
    z-index: 1;
    opacity: 0.3;
}
.body4img2{
    position: absolute;
    top: 50px;
    left: 20%;
    color: aquamarine;  
}
.body4t1{
    position: absolute;
    top: 110px;
    left: 19%;
    color: aquamarine;
    font-size: 40px;
}
.body4t2{
    position: absolute;
    top: 120px;
    left: 24.5%;
    color: white;
    font-size: 30px;
}
.body4t3{
    position: absolute;
    top: 160px;
    left: 19%;
    color: white;
    font-size: 15px;
}
.body4img3{
    position: absolute;
    top: 50px;
    left: 40%;
    color: aquamarine;  
}
.body4t4{
    position: absolute;
    top: 110px;
    left: 40%;
    color: aquamarine;
    font-size: 40px;
}
.body4t5{
    position: absolute;
    top: 120px;
    left: 43.5%;
    color: white;
    font-size: 30px;
}
.body4t6{
    position: absolute;
    top: 160px;
    left: 38%;
    color: white;
    font-size: 15px;
}
.body4img4{
    position: absolute;
    top: 50px;
    left: 60%;
    color: aquamarine;  
}
.body4t7{
    position: absolute;
    top: 110px;
    left: 60%;
    color: aquamarine;
    font-size: 40px;
}
.body4t8{
    position: absolute;
    top: 120px;
    left: 63.5%;
    color: white;
    font-size: 30px;
}
.body4t9{
    position: absolute;
    top: 160px;
    left: 58%;
    color: white;
    font-size: 15px;
}
.body4img5{
    position: absolute;
    top: 50px;
    left: 80%;
    color: aquamarine;  
}
.body4t10{
    position: absolute;
    top: 110px;
    left: 80%;
    color: aquamarine;
    font-size: 40px;
}
.body4t11{
    position: absolute;
    top: 120px;
    left: 83.5%;
    color: white;
    font-size: 30px;
}
.body4t12{
    position: absolute;
    top: 160px;
    left: 78%;
    color: white;
    font-size: 15px;
}
/* start section five */
.body5{
    position: relative;
    width: 100%;
    height: 750px;
    background-color: black;
}
.body5 nobr{
    position: absolute;
    color:aquamarine;
    font-size: 13px;
    font-weight:200;
    top: 80px;
    left: 200px;
}
.body5t1{
    color: white;
    position: absolute;
    font-size: 40px;
    left: 200px;
    top: 110px;
}
.body5t2{
    color: aquamarine;
    position: absolute;
    font-size: 40px;
    left: 280px;
    top: 110px;
}
.body5t3{
    color:white;
    position: absolute;
    font-size: 40px;
    left: 410px;
    top: 110px;
}
.body5t4{
    color: aquamarine;
    position: absolute;
    font-size: 30px;
    left: 205px;
    top: 140px;
}
.body5t5{
    color: grey;
    position: absolute;
    font-size: 13px;
    left: 200px;
    top: 220px;
}
.body5icon1{
    color:aquamarine;
    position: absolute;
    font-size: 13px;
    left: 200px;
    top: 320px;
}
.body5t6{
    color: white;
    position: absolute;
    font-size: 13px;
    left: 220px;
    top: 320px;
}
.body5icon2{
    color:aquamarine;
    position: absolute;
    font-size: 13px;
    left: 200px;
    top: 350px;
}
.body5t7{
    color: white;
    position: absolute;
    font-size: 13px;
    left: 220px;
    top: 350px;
}
.body5img1{
    position: absolute;
    left: 750px;
    top: 80px;
    width: 275px;
    height: 290px;
}
.body5img2{
    position: absolute;
    left: 750px;
    top: 390px;
    width: 275px;
    height: 290px;
}
.body5img3{
    border: none;
    position: absolute;
    left: 470px;
    top: 390px;
    width: 275px;
    height: 290px;
}
.body5img4{
    position: absolute;
    left: 200px;
    top: 390px;
    width: 275px;
    height: 290px;
}
/* start section six */
.body6{
    width: 100%;
    height: 180px;
    background-image: linear-gradient(to right,rgb(60, 60, 60),rgb(46, 93, 77));
    position: relative;
}
.body6img1{
    width: 100%;
    height: 180px;
    opacity: 0.4;
}
.body6img2{
    position: absolute;
    left: 15%;
    top: 55px;
    color: gray;
}
.body6img3{
    position: absolute;
    left: 30%;
    top: 55px;
    color: gray;
}
.body6img4{
    position: absolute;
    left: 45%;
    top: 55px;
    color: gray;
}
.body6img5{
    position: absolute;
    left: 60%;
    top: 55px;
    color: gray;
}
.body6img6{
    position: absolute;
    left: 75%;
    top: 55px;
    color: gray;
}
/* start section seven */
.body7{
    position: relative;
    width: 100%;
    height: 800px;
    background-color: black;
}
.body7 nobr{
    position: absolute;
    color:aquamarine ;
    left: 15%;
    top: 100px;
    font-size: 14px;
} 
.body7t1{
    position: absolute;
    color: white;
    left: 15%;
    top: 130px;
    font-size: 40px;
}
.body7t2{
    position: absolute;
    color: aquamarine;
    left: 28%;
    top: 130px;
    font-size: 40px;
}
.body7t3{
    position: absolute;
    color: white;
    left: 15%;
    top: 170px;
    font-size: 40px;
}
.body7t4{
    position: absolute;
    color: grey;
    left: 49%;
    top: 145px;
    font-size: 14px;
}
.body7t5{
    position: absolute;
    color: white;
    left: 51%;
    top: 291px;
    font-size: 14px;
}
.body7icon2{
    position: absolute;
    color:black;
    border-radius: 40%;
    background-color: aquamarine;
    left: 49%;
    top: 290px;
    font-size: 14px;
}
.body7t6{
    position: absolute;
    color: white;
    left: 51%;
    top: 321px;
    font-size: 14px;
}
.body7icon3{
    position: absolute;
    color:black;
    border-radius: 40%;
    background-color: aquamarine;
    left: 49%;
    top: 320px;
    font-size: 14px;
}
.body7img1{
    position: absolute;
    left: 15%;
    top: 400px;
    
}
.body7img2{
    position: absolute;
    left: 48%;
    top: 470px;
    
}
/* start section Eight */
.body8{
    position: relative;
    width: 100%;
    height: 300px;
}
.body8img1{
    width: 100%;
    height: 300px;
    /* opacity: 0.9; */
}
.body8 nobr{
    color: aquamarine;
    position: absolute;
    left: 45%;
    top: 20%;
}
.body8t1{
    position: absolute;
    left: 37%;
    top: 25%;
    color: white;
    font-size: 40px;
}
.body8t2{
    position: absolute;
    left: 54.5%;
    top: 25%;
    color: aquamarine;
    font-size: 40px;
}
.body8t3{
    position: absolute;
    left: 62%;
    top: 25%;
    color: white;
    font-size: 40px;
}
.body8t4{
    position: absolute;
    left: 45.5%;
    top: 33%;
    color: aquamarine;
    font-size: 30px;
}
.body8t5{
    position: absolute;
    left: 30.5%;
    top: 53%;
    color: grey;
    font-size: 12px;
}
.body8t6{
    position: absolute;
    left: 35%;
    top: 58%;
    color: grey;
    font-size: 12px;
}
/* start section nine */
.body9{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: black;
}
.body9img1{
    width: 100%;
    height: 600px;
    /* opacity: 0.9; */
}
.body9div1{
    position: absolute;
    width: 400px;
    height: 220px;
    background-color: rgb(41, 41, 41);
    left: 20%;
    top: 5%;
    opacity: 0.2;
    z-index: 5;
}
.body9img2{
    left: 21%;
    top: 2%;
    color: grey;
    opacity: 0.8;
    position: absolute;
    width: 180px;
    height: 180px;
}
.body9t1{
    position: absolute ;
    color: white;
    font-size: 19px;
    left: 36%;
    top: 9%;
}
.body9t2{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 36%;
    top: 18%;
}
.body9t3{
    position: absolute ;
    color: grey;
    font-size: 11px;
    left: 36%;
    top: 25%;
}
.icon1{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 36%;
    top: 37%;
}
.icon2{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 38%;
    top: 37%;
}
.icon3{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 40%;
    top: 37%;
}

.body9div2{
    position: absolute;
    width: 400px;
    height: 220px;
    background-color: rgb(41, 41, 41);
    left: 52%;
    top: 5%;
    opacity: 0.2;
    z-index: 5;
}
.body9img3{
    left: 53%;
    top: 2%;
    color: grey;
    opacity: 0.8;
    position: absolute;
    width: 180px;
    height: 180px;
}
.body9t4{
    position: absolute ;
    color: white;
    font-size: 19px;
    left: 67%;
    top: 9%;
}
.body9t5{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 67%;
    top: 18%;
}
.body9t6{
    position: absolute ;
    color: grey;
    font-size: 11px;
    left: 67%;
    top: 25%;
}
.icon4{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 67%;
    top: 37%;
}
.icon5{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 69%;
    top: 37%;
}
.icon6{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 71%;
    top: 37%;
}

.body9div3{
    position: absolute;
    width: 400px;
    height: 220px;
    background-color: rgb(41, 41, 41);
    left: 20%;
    top: 47%;
    opacity: 0.2;
    z-index: 5;
}
.body9img4{
    left: 21%;
    top: 44%;
    color: grey;
    opacity: 0.8;
    position: absolute;
    width: 180px;
    height: 180px;
}
.body9t7{
    position: absolute ;
    color: white;
    font-size: 19px;
    left: 36%;
    top: 51%;
}
.body9t8{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 36%;
    top: 60%;
}
.body9t9{
    position: absolute ;
    color: grey;
    font-size: 11px;
    left: 36%;
    top: 67%;
}
.icon7{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 36%;
    top: 79%;
}
.icon8{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 38%;
    top: 79%;
}
.icon9{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 40%;
    top: 79%;
}

.body9div4{
    position: absolute;
    width: 400px;
    height: 220px;
    background-color: rgb(41, 41, 41);
    left: 52%;
    top: 47%;
    opacity: 0.2;
    z-index: 5;
}
.body9img5{
    left: 53%;
    top: 44%;
    color: grey;
    opacity: 0.8;
    position: absolute;
    width: 180px;
    height: 180px;
}
.body9t10{
    position: absolute ;
    color: white;
    font-size: 19px;
    left: 67%;
    top: 51%;
}
.body9t11{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 67%;
    top: 60%;
}
.body9t12{
    position: absolute ;
    color: grey;
    font-size: 11px;
    left: 67%;
    top: 67%;
}
.icon10{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 67%;
    top: 79%;
}
.icon11{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 69%;
    top: 79%;
}
.icon12{
    position: absolute ;
    color: aquamarine;
    font-size: 13px;
    left: 71%;
    top: 79%;
}
/* start section ten */
.body10{
    width: 100%;
    position: relative;
    height: 1250px;
    background-color: black;
}
.body10 nobr{
    color: aquamarine;
    position: absolute;
    left: 45%;
    top: 5%;
}
.body10t1{
    position: absolute;
    left: 41%;
    top: 7%;
    color: white;
    font-size: 40px;
}
.body10t2{
    position: absolute;
    left: 51%;
    top: 7%;
    color: aquamarine;
    font-size: 40px;
}
.body10t3{
    position: absolute;
    left: 58.5%;
    top: 7%;
    color: white;
    font-size: 40px;
}
.body10t4{
    position: absolute;
    left: 47%;
    top: 9%;
    color: aquamarine;
    font-size: 30px;
}
.body10t5{
    position: absolute;
    left: 32%;
    top: 14%;
    color: grey;
    font-size: 12px;
}
.body10t6{
    position: absolute;
    left: 36%;
    top: 17%;
    color: grey;
    font-size: 12px;
}
.body10img1{
    position: absolute;
    top: 22%;
    left: 15%;
    width: 300px;
    height: 280px;
}
.body10img2{
    position: absolute;
    top: 22%;
    left: 39%;
    width: 300px;
    height: 280px;
}
.body10img3{
    position: absolute;
    top: 22%;
    left: 63%;
    width: 300px;
    height: 280px;
}
.body10img4{
    position: absolute;
    top: 46%;
    left: 15%;
    width: 300px;
    height: 280px;
}
.body10img5{
    position: absolute;
    top: 46%;
    left: 39%;
    width: 300px;
    height: 280px;
}
.body10img6{
    position: absolute;
    top: 46%;
    left: 63%;
    width: 300px;
    height: 280px;
}
.body10img7{
    position: absolute;
    top: 70%;
    left: 15%;
    width: 300px;
    height: 280px;
}
.body10img8{
    position: absolute;
    top: 70%;
    left: 39%;
    width: 300px;
    height: 280px;
}
.body10img9{
    position: absolute;
    top: 70%;
    left: 63%;
    width: 300px;
    height: 280px;
}
/* start section Eleven */
.body11{
    position: relative;
    width: 100%;
    height: 500px;
}
.body11img1{
    width: 100%;
    height: 500px;
   
    position: absolute;
}
.body11 nobr{
    position: absolute;
    color: aquamarine;
    left: 15%;
    top: 100px;
    font-size: 14px;
}
.body11t1{
    position: absolute;
    color: white;
    left: 15%;
    top: 120px;
    font-size: 40px;
}
.body11t2{
    position: absolute;
    color: aquamarine;
    left: 23%;
    top: 120px;
    font-size: 40px;
}
.body11t3{
    position: absolute;
    color: white;
    left: 32%;
    top: 120px;
    font-size: 40px;
}
.body11t4{
    position: absolute;
    color:aquamarine;
    left: 15%;
    top: 160px;
    font-size: 20px;
}
.body11t5{
    position: absolute;
    color:white;
    left: 15%;
    top: 200px;
    font-size: 13px;
}
.body11btn1{
    position: absolute;
    color:white;
    background-color: #47cea1;
    left: 15%;
    top: 270px;
    width: 200px;
    height: 50px;
    font-size: 13px;
}
.body11img1{
    width: 100%;
    height: 500px;
    position: absolute;
    opacity: 0.95;
} 
.body11div1{
    position: absolute;
    width: 420px;
    height: 200px;
    background-color:black;
    left: 52%;
    top: 24%;
    opacity: 0.7;
}
.body11t6{
    position: absolute;
    color: grey;
    left: 53.5%;
    top: 30%;
    font-size: 13px;
}
.body11img2{
    position: absolute;
    left: 53.5%;
    top: 45%;
    border-radius: 50%;
    width: 70px;
    height: 67px;
}
.body11t7{
    position: absolute;
    left: 60%;
    top: 45%;
    color: white;
    font-size: 18PX;
}
.body11t8{
    position: absolute;
    left: 60%;
    top: 50%;
    opacity: 0.7;
    color: aquamarine;
    font-size: 12PX;
}
.body11icon1{
    position: absolute;
    left: 77%;
    top: 52%;
    opacity: 0.7;
    color:aquamarine;
    font-size: 58PX;
}
/* start section Twelve */
.body12{
    width: 100%;
    height: 850PX;
    position: relative;
    background-color: black;
}
.body12 nobr{
    color: aquamarine;
    position: absolute;
    left: 45%;
    top: 5%;
}
.body12t1{
    color: white;
    position: absolute;
    left: 36%;
    top: 10%;
    font-size: 45px;
}
.body12t2{
    color: white;
    position: absolute;
    left: 43%;
    top: 10%;
    font-size: 45px;
}
.body12t3{
    color: aquamarine;
    position: absolute;
    left: 54%;
    top: 10%;
    font-size: 45px;
}
.body12t4{
    color:aquamarine;
    position: absolute;
    left: 45%;
    top: 18%;
    font-size: 25px;
}
.body12t5{
    color: grey;
    position: absolute;
    left: 27.5%;
    top: 25%;
    font-size: 15px;
}
.body12img1{
    width: 270px;
    height: 200px ;
    position: absolute;
    top: 35%;
    left: 17%;
}
.body12img2{
    width: 270px;
    height: 200px ;
    position: absolute;
    top: 35%;
    left: 40%;
}
.body12img3{
    width: 270px;
    height: 200px ;
    position: absolute;
    top: 35%;
    left: 63%;
}
.body12t6{
    position: absolute;
    top: 60%;
    left: 17%;
    font-size: 20px;
    color: aquamarine;
    opacity: 0.8;
}
.body12t7{
    position: absolute;
    top: 60%;
    left: 40%;
    font-size: 20px;
    opacity: 0.8;
    color: aquamarine;
}
.body12t8{
    position: absolute;
    top: 60%;
    opacity: 0.8;
    left: 63%;
    font-size: 20px;
    color: aquamarine;
}
.body12t9{
    position: absolute;
    top: 67%;
    opacity: 0.8;
    left: 17%;
    font-size: 14px;
    color: grey;
}
.body12t10{
    position: absolute;
    top: 67%;
    opacity: 0.8;
    left: 40%;
    font-size: 14px;
    color: grey;
}
.body12t11{
    position: absolute;
    top: 67%;
    opacity: 0.8;
    left: 63%;
    font-size: 14px;
    color: grey;
}
.body12icon1{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 17%;
    font-size: 14px;
    color:aquamarine;
}
.body12icon2{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 40%;
    font-size: 14px;
    color: aquamarine;
}
.body12icon3{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 63%;
    font-size: 14px;
    color: aquamarine;
}
.body12t12{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 18.5%;
    font-size: 13px;
    color:aquamarine;
}
.body12t13{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 41.5%;
    font-size: 13px;
    color:aquamarine;
}
.body12t14{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 64.5%;
    font-size: 13px;
    color:aquamarine;
}
.body12icon4{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 28%;
    font-size: 13px;
    color:aquamarine;
}
.body12icon5{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 51%;
    font-size: 13px;
    color:aquamarine;
}
.body12icon6{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 74%;
    font-size: 13px;
    color:aquamarine;
}
.body12t15{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 29.8%;
    font-size: 13px;
    color:aquamarine;
}
.body12t16{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 52.8%;
    font-size: 13px;
    color:aquamarine;
}
.body12t17{
    position: absolute;
    top: 77%;
    opacity: 0.8;
    left: 75.8%;
    font-size: 13px;
    color:aquamarine;
}
/* Start section 13 */
.body13{
    position: relative;
    width: 100%;
    height: 600px;
    opacity: .96;
    background-color: rgb(2, 2, 2);
}
/* .body13div1{
    position: absolute;
    width: 420px;
    height: 200px;
    background-color:black;
    border-color: #47cea1;
    left: 52%;
    top: 24%;
    opacity: 1;
} */
.body13 fieldset{
    left: 15%;
    top: 15%;
    position: absolute;
    width: 390px;
    height: 430px;
    border-color: #47cea1;
    /* background-color: #47cea1; */
    color: #47cea1;
}
.body13lab1{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 14px;
}
.body13input1{
    position: absolute;
    left: 10px;
    top: 30px;
    width: 340px;
    height: 25px;
    background-color: rgb(15, 15, 15);
    border-color: #47cea1;
}
.body13lab2{
    position: absolute;
    left: 10px;
    top: 75px;
    font-size: 14px;
}
.body13input2{
    position: absolute;
    left: 10px;
    top: 95px;
    width: 340px;
    border-color: #47cea1;
    height: 25px;
    background-color: rgb(15, 15, 15);
}
.body13lab3{
    position: absolute;
    left: 10px;
    top: 165px;
    font-size: 14px;
}
.body13input3{
    position: absolute;
    left: 10px;
    top: 190px;
    border-color: #47cea1;
    width: 340px;
    height: 130px;
    background-color: rgb(15, 15, 15);
}
.body13btn1{
    position: absolute;
    width: 340px;
    height: 35px;
    top: 345px;
    left: 10px;
    color: white;
    background-color: #47cea1;
}
.body13 nobr{
    position: absolute;
    left: 46%;
    top: 18%;
    color: #47cea1;
    font-size: 14px;
}
.body13t1{
    position: absolute;
    left: 46%;
    top: 22%;
    color: white;
    font-size: 50px;
}
.body13t2{
    position: absolute;
    left: 53.3%;
    top: 22%;
    color: white;
    font-size: 50px;
}
.body13t3{
    position: absolute;
    left: 57.2%;
    top: 22%;
    color: aquamarine;
    font-size: 50px;
}
.body13t4{
    position: absolute;
    left: 46.5%;
    top: 29%;
    color:aquamarine;
    font-size: 30px;
}
.body13t5{
    position: absolute;
    left: 46.5%;
    top: 39%;
    color:grey;
    font-size: 13px;
}
.body13icon1{
    position: absolute;
    left: 46.5%;
    top: 53%;
    color:aquamarine;
    font-size: 35px;
}
.body13icon2{
    position: absolute;
    left: 46.5%;
    top: 65%;
    color:aquamarine;
    font-size: 35px;
}
.body13icon3{
    position: absolute;
    left: 46.5%;
    top: 77%;
    color:aquamarine;
    font-size: 35px;
}
.body13t6{
    position: absolute;
    left: 50%;
    top: 52%;
    color:white;
    font-size: 20px;
}
.body13t7{
    position: absolute;
    left: 50%;
    top: 56%;
    color:aquamarine;
    font-size: 10px;
}
.body13t8{
    position: absolute;
    left: 50%;
    top: 64%;
    color:white;
    font-size: 23px;
}
.body13t9{
    position: absolute;
    left: 50%;
    top: 69%;
    color:aquamarine;
    font-size: 10px;
}
.body13t10{
    position: absolute;
    left: 50%;
    top: 76%;
    color:white;
    font-size: 23px;
}
.body13t11{
    position: absolute;
    left: 50%;
    top: 81%;
    color:aquamarine;
    font-size: 10px;
}
/* start section 14 */
.body14{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
}
.body14logo1{
    color: aquamarine;
    font-size: 45px;
    position: absolute;
    top: 15%;
    left: 44%;
}
.body14 nobr{
    color: white;
    font-size: 8px;
    position: absolute;
    top: 26.5%;
    left: 46.3%;
}
.body14t1{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 33%;
    opacity: 0.8;
}
.body14t2{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 38%;
    opacity: 0.8;
}
.body14t3{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 45%;
    opacity: 0.8;
}
.body14t4{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 51%;
    opacity: 0.8;
}
.body14t5{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 57%;
    opacity: 0.8;
}
.body14t6{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 62%;
    opacity: 0.8;   
}
.body14t7{
    color: white;
    font-size: 13px;
    position: absolute;
    top: 47%;
    left: 34%;
    opacity: 0.8;  
}
.body14t8{
    color: white;
    font-size: 13px;
    position: absolute;
    top: 51%;
    left: 39%;
    opacity: 0.8;  
}
.body14icon1{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 65%;
    left: 45%;  
}
.body14icon2{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 65%;
    left: 49%;  
}
.body14icon3{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 65%;
    left: 53%;  
}
.body14icon4{
    color: aquamarine;
    font-size: 15px;
    position: absolute;
    top: 65%;
    left: 57%;  
}
.body14t9{
    color: grey;
    font-size: 12px;
    position: absolute;
    top: 92%;
    left: 37%;
}
/* End Website */